# --- Core Data Science & Data Manipulation ---
numpy
pandas

# --- TensorFlow Ecosystem (Nueva Estrategia) ---
tensorflow
tensorflow_decision_forests

# --- Classic Machine Learning (Comparativas y Preprocesamiento) ---
scikit-learn
xgboost
scipy
statsmodels

# --- Visualización de Datos ---
matplotlib
seaborn

# --- Manejo de Archivos y Formatos ---
openpyxl

# --- Herramientas de Desarrollo y Notebooks ---
ipykernel
notebook
nbmerge         